body 
{
    padding-top: 60px;
}

.masterHeader {
    float: left;
    margin-left: -187px;
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
    padding: 21px;
    font-family: tahoma;
}

.masterHeader {
    font-weight: bold;
}

.masterHeader:hover {
    text-decoration: none;
    color: #ffffff;
}

.container p {
    margin-left: -63px;
    margin-top: -17px;
    font-size: 20px;
    color: #ffffff;
    font-style: italic;
    font-weight: bold;
}

#infovis {
   height: 2500px;
   width: 2000px;
   margin: auto;
    margin-top: -457px;
    margin-left: 280px;
}

#log {
    padding: 24px;
    text-align: center;
}

#logWrapper {
    margin-left: 680px;     
    background-color: #F5F5F5;
    width: 340px;
    border-radius: 24px;
}

#headerImg {
    margin-left: -210px;
    margin-top: 10px;
}

.preloader {
    margin-left: 730px;
    margin-top: -254px;
}

.preloader p {
    margin-left: 3px;
    font-size: 15px;
}

#sliderItem {
    padding-top: 5px;
    padding-bottom: 15px;
}

#sliderMid {
    margin-left: 78px;
}

#sliderMax {
    margin-left: 58px;
}

#depthLabel {
    display: inline;
}
