body 
{
    padding-top: 60px;
}

.masterHeader {
    float: left;
    margin-left: -20px;
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
    padding: 21px;
}

.masterHeader:hover {
    text-decoration: none;
}

#infovis {
   height: 2500px;
   width: 2000px;
   margin: auto;    
}
