body 
{
    padding-top: 60px;
}

.masterHeader {
    float: left;
    margin-left: -20px;
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
    padding: 21px;
    font-family: tahoma;
}

.masterHeader {
    font-weight: bold;
}

.masterHeader:hover {
    text-decoration: none;
    color: #ffffff;
}

#infovis {
   height: 2500px;
   width: 2000px;
   margin: auto;
    margin-top: -614px;
    margin-left: 280px;
}

#log {
    padding: 24px;
    text-align: center;
}

#logWrapper {
    margin-left: 680px;     
    background-color: #F5F5F5;
    width: 340px;
    border-radius: 24px;
}

#headerImg {
    margin-left: -329px;
}

